.header {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  //justify-content: space-between;
  .top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .heading {
      font-weight: 300;
      font-size: 2.6rem;
    }
    .navbar {
      display: none;
    }
    .toggle-side-menu-btn {
      border: none;
      cursor: pointer;
    }
  }
}
